.buttonList {
  display: flex;
}

.item {
  margin-right: 5px;
}

.button {
  font-size: 15px;
  background-color: #fff;
  outline: none;
  border-color: rgb(202, 202, 202);
  border-radius: 5px;
}

.button:active {
  color: #fff;
  background-color: rgb(42, 131, 204);
}
